# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
ENV/
env/
.venv/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3

# Secret files
.env

# VSCode settings (optional)
.vscode/

# OS junk files
.DS_Store
Thumbs.db
